<% content_for(:title) { 'Menu' } %>

<div class="access index">
  <h1>Menu</h1>

  <ul>
    <li><%= link_to('Manage Subjects', subjects_path) %></li>
    <li><%= link_to('Manage Pages', pages_path) %></li>
  </ul>
</div>
