<div class="access index">
  <h1>Menu</h1>

  <p>You are logged in as <%= @username %></p>
  
  <ul>
    <li><%= link_to('Manage Subjects', subjects_path) %></li>
    <li><%= link_to('Manage Pages', pages_path) %></li>
  </ul>
</div>
