<h1>About</h1>

<p>We believe that everyone should have access to top-quality widgets. It is the reason we first launched our line of premium widgets in 2000, and it is why we still feel passionate about making widgets today.</p>

<p>Stop relying on widget suppliers who mark up prices and may have limited inventory. We sell our full line of widgets direct to consumers online, and three-day shipping is always free. It has never been easier to buy widgets that meet your needs.</p>

<p><%= link_to('Contact Us', {:action => 'contact', :country => 'us'}) %></p>
