<h1>Contact</h1>

<p>We are always happy to hear from our customers.</p>

<p>Phone: <%= @phone %></p>

<p>Press: <%= mail_to('press@nowhere.com') %></p>

<p><%= link_to('About Us', {:action => 'about'}) %></p>
